<ion-view view-title="Product">
	<ion-content class="padding">

		<ion-list>
			<h1 align="center">{{book.title}}</h1>
			<p class="text-right">Price: {{book.price|currency}}</p>
			<p class="text-right">Rating: {{book.rating}}</p>
			<br>
			<br>
			<p>{{book.short_description}}.</p>
			<br>
			<p>{{book.long_description}}.</p>
			<div>
				<img src="{{book.image}}" height="400" width="400">
			</div>
		</ion-list>
		<ionic-ratings ratingsobj='ratingsObject' index='4'></ionic-ratings>
	</ion-content>
</ion-view>
